In [1]:
import os
import pandas as pd

In [2]:
x={"Width":[],"Height":[],"X-Speed":[],"Y-Speed":[],"Pressure":[],"Max Pressure":[],"Time":[],"Type":[]}

for j in range(1,41):
    for i in range(1,41):
        df = pd.read_csv('Task2/U'+str(j)+'S'+str(i)+'.txt', sep=' ',
                           names=["X-coordinate", "Y-coordinate","Time stamp","Button status","Azimuth","Altitude","Pressure"])
        df.dropna(axis=0)
        mn=df["Time stamp"].min()
        mx=df["Time stamp"].max()
        time=mx-mn
        width=df["X-coordinate"].max()-df["X-coordinate"].min()
        height=df["Y-coordinate"].max()-df["Y-coordinate"].min()
        xdis=len(df["X-coordinate"])
        ydis=len(df["Y-coordinate"])
        xd=df["X-coordinate"][xdis-1]-df["X-coordinate"][1]
        yd=df["Y-coordinate"][xdis-1]-df["Y-coordinate"][1]
        velX=xd/time
        velY=yd/time
        pressure=df["Pressure"].mean()
        mp=df["Pressure"].max()
        sigtype=0
        if(i>20):
            sigtype=1
        x["Width"].append(width)
        x["Height"].append(height)
        x["X-Speed"].append(velX)
        x["Y-Speed"].append(velY)
        x["Pressure"].append(pressure)
        x["Max Pressure"].append(mp)
        x["Time"].append(time)
        x["Type"].append(sigtype)

In [3]:
df = pd.DataFrame(x)
df1=df
df

,Width,Height,X-Speed,Y-Speed,Pressure,Max Pressure,Time,Type
0,8182,3641.0,3.241749,-0.165842,628.464286,837.0,1212.0,0
1,7471,3434.0,3.348154,-0.484899,600.964706,802.0,1192.0,0
2,7512,3700.0,3.027734,-0.614105,587.333333,809.0,1262.0,0
3,8546,3577.0,2.777870,-1.039101,607.670732,837.0,1202.0,0
4,7057,3615.0,2.086538,-0.443787,540.215054,832.0,1352.0,0
...,...,...,...,...,...,...,...,...
1595,9917,4427.0,0.887359,-1.139477,737.482353,944.0,2832.0,1
1596,8883,3903.0,0.662179,-1.182783,748.063927,944.0,2451.0,1
1597,8961,3370.0,0.819451,-1.032868,710.242424,951.0,2221.0,1
1598,9033,3974.0,0.832508,-1.343089,641.257732,849.0,2221.0,1
1599,8758,3939.0,0.779825,-1.412252,674.784689,830.0,2171.0,1

In [4]:
y=pd.DataFrame(df1["Type"],columns=["Type"])

In [5]:
y

      Type
0        0
1        0
2        0
3        0
4        0
...    ...
1595     1
1596     1
1597     1
1598     1
1599     1

[1600 rows x 1 columns]

In [6]:
from sklearn.preprocessing import StandardScaler
ss = StandardScaler()
df1.drop("Type",axis=1,inplace=True)
df_scaled = pd.DataFrame(ss.fit_transform(df1),columns = df1.columns)
df_scaled

         Width    Height   X-Speed   Y-Speed  Pressure  Max Pressure      Time
0    -0.255840  0.181242  1.396139  0.781141  0.334928      0.030672 -1.152504
1    -0.780433  0.021464  1.510120  0.311793  0.154203     -0.181930 -1.167512
2    -0.750182  0.226782  1.166887  0.121726  0.064618     -0.139409 -1.114985
3     0.012728  0.131842  0.899235 -0.503463  0.198274      0.030672 -1.160008
4    -1.085892  0.161173  0.158684  0.372271 -0.245041      0.000300 -1.047451
...        ...       ...       ...       ...       ...           ...       ...
1595  1.024285  0.787934 -1.125871 -0.651121  1.051390      0.680624  0.063113
1596  0.261375  0.383472 -1.367083 -0.714824  1.120931      0.680624 -0.222782
1597  0.318925 -0.027936 -1.198614 -0.494294  0.872370      0.723144 -0.395370
1598  0.372048  0.438275 -1.184627 -0.950642  0.419006      0.103563 -0.395370
1599  0.169147  0.411260 -1.241061 -1.052385  0.639344     -0.011849 -0.432889

[1600 rows x 7 columns]