In [2]:
import os
import pandas as pd

In [3]:
os.getcwd()

'C:\\Users\\Arijit'

In [12]:
U1S1 = pd.read_csv('Task2/U1S1.txt', sep=' ',
                           names=["X-coordinate", "Y-coordinate","Time stamp","Button status","Azimuth","Altitude","Pressure"])

In [5]:
U1S2 = pd.read_csv('Task2/U1S'+str(2)+'1.txt', sep=' ',
                           names=["X-coordinate", "Y-coordinate","Time stamp","Button status","Azimuth","Altitude","Pressure"])

In [39]:
U1S1["X-coordinate"][84]-U1S1["X-coordinate"][1]

3929

In [18]:
mx=U1S1["X-coordinate"][:-1]

In [21]:
mx[-1:]

83    6941
Name: X-coordinate, dtype: int64

In [9]:
mx
time=mx-mn
time

NameError: name 'mx' is not defined

In [20]:
U1S1.dropna(axis=0)

,X-coordinate,Y-coordinate,Time stamp,Button status,Azimuth,Altitude,Pressure
1,2933,5678.0,31275775.0,0.0,1550.0,710.0,439.0
2,2933,5678.0,31275785.0,1.0,1480.0,770.0,420.0
3,3001,5851.0,31275795.0,1.0,1350.0,830.0,433.0
4,3114,6139.0,31275805.0,1.0,1350.0,800.0,422.0
5,3217,6198.0,31275815.0,1.0,1350.0,800.0,415.0
...,...,...,...,...,...,...,...
80,8266,5308.0,31276876.0,1.0,1430.0,530.0,561.0
81,7398,5917.0,31276957.0,0.0,1480.0,530.0,822.0
82,7093,5611.0,31276967.0,1.0,1490.0,530.0,748.0
83,6941,5499.0,31276977.0,1.0,1500.0,520.0,749.0
84,6862,5477.0,31276987.0,1.0,1510.0,510.0,636.0

In [21]:
width=U1S1["X-coordinate"].max()-U1S1["X-coordinate"].min()

In [22]:
height=U1S1["Y-coordinate"].max()-U1S1["Y-coordinate"].min()

In [23]:
width

8182

In [24]:
height

3641.0

In [26]:
velX=width/time
velY=height/time

In [28]:
velX

3.004125412541254

In [31]:
pressure=U1S1["Pressure"].mean()

In [37]:
pressure
data=[width,height,velX,velY,pressure,0]

In [44]:
df=pd.DataFrame(data,["Width","Height","VelX","VelY","Pressure","Type"])

In [10]:
x={"Width":[],"Height":[],"X-Speed":[],"Y-Speed":[],"Pressure":[],"Type":[]}

for j in range(1,41):
for i in range(1,41):
    df = pd.read_csv('Task2/U1S'+str(i)+'.txt', sep=' ',
                           names=["X-coordinate", "Y-coordinate","Time stamp","Button status","Azimuth","Altitude","Pressure"])
    df.dropna(axis=0)
    mn=df["Time stamp"].min()
    mx=df["Time stamp"].max()
    time=mx-mn
    width=df["X-coordinate"].max()-df["X-coordinate"].min()
    height=df["Y-coordinate"].max()-df["Y-coordinate"].min()
    velX=width/time
    velY=height/time
    pressure=df["Pressure"].mean()
    sigtype=0
    if(i>20):
        sigtype=1
    x["Width"].append(width)
    x["Height"].append(height)
    x["X-Speed"].append(velX)
    x["Y-Speed"].append(velY)
    x["Pressure"].append(pressure)
    x["Type"].append(sigtype)

IndentationError: expected an indented block (<ipython-input-10-9bb6d428cc23>, line 4)

In [49]:
df = pd.DataFrame(x)

In [94]:
x={"Width":[],"Height":[],"X-Speed":[],"Y-Speed":[],"Pressure":[],"Max Pressure":[],"Time":[],"Type":[]}

for j in range(1,41):
    for i in range(1,41):
        df = pd.read_csv('Task2/U'+str(j)+'S'+str(i)+'.txt', sep=' ',
                           names=["X-coordinate", "Y-coordinate","Time stamp","Button status","Azimuth","Altitude","Pressure"])
        df.dropna(axis=0)
        mn=df["Time stamp"].min()
        mx=df["Time stamp"].max()
        time=mx-mn
        width=df["X-coordinate"].max()-df["X-coordinate"].min()
        height=df["Y-coordinate"].max()-df["Y-coordinate"].min()
        xdis=len(df["X-coordinate"])
        ydis=len(df["Y-coordinate"])
        xd=df["X-coordinate"][xdis-1]-df["X-coordinate"][1]
        yd=df["Y-coordinate"][xdis-1]-df["Y-coordinate"][1]
        velX=xd/time
        velY=yd/time
        pressure=df["Pressure"].mean()
        mp=df["Pressure"].max()
        sigtype=0
        if(i>20):
            sigtype=1
        x["Width"].append(width)
        x["Height"].append(height)
        x["X-Speed"].append(velX)
        x["Y-Speed"].append(velY)
        x["Pressure"].append(pressure)
        x["Max Pressure"].append(mp)
        x["Time"].append(time)
        x["Type"].append(sigtype)

In [96]:
df = pd.DataFrame(x)
df1=df

In [97]:
y=pd.DataFrame(df1["Type"],columns=["Type"])

In [98]:
y

      Type
0        0
1        0
2        0
3        0
4        0
...    ...
1595     1
1596     1
1597     1
1598     1
1599     1

[1600 rows x 1 columns]

In [99]:
from sklearn.preprocessing import StandardScaler
ss = StandardScaler()
df1.drop("Type",axis=1,inplace=True)
df_scaled = pd.DataFrame(ss.fit_transform(df1),columns = df1.columns)
df_scaled

         Width    Height   X-Speed   Y-Speed  Pressure  Max Pressure      Time
0    -0.255840  0.181242  1.396139  0.781141  0.334928      0.030672 -1.152504
1    -0.780433  0.021464  1.510120  0.311793  0.154203     -0.181930 -1.167512
2    -0.750182  0.226782  1.166887  0.121726  0.064618     -0.139409 -1.114985
3     0.012728  0.131842  0.899235 -0.503463  0.198274      0.030672 -1.160008
4    -1.085892  0.161173  0.158684  0.372271 -0.245041      0.000300 -1.047451
...        ...       ...       ...       ...       ...           ...       ...
1595  1.024285  0.787934 -1.125871 -0.651121  1.051390      0.680624  0.063113
1596  0.261375  0.383472 -1.367083 -0.714824  1.120931      0.680624 -0.222782
1597  0.318925 -0.027936 -1.198614 -0.494294  0.872370      0.723144 -0.395370
1598  0.372048  0.438275 -1.184627 -0.950642  0.419006      0.103563 -0.395370
1599  0.169147  0.411260 -1.241061 -1.052385  0.639344     -0.011849 -0.432889

[1600 rows x 7 columns]

In [100]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(df_scaled,y,test_size=0.3,random_state=101)

In [102]:
from sklearn import svm
clf=svm.SVC()

In [103]:
clf.fit(x_train,y_train)

C:\Users\Arijit\Anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

SVC()

In [106]:
y_pred=clf.predict(x_test)

In [105]:
from sklearn.metrics import confusion_matrix

In [107]:
cm=confusion_matrix(y_test,y_pred)

In [108]:
cm

array([[220,  22],
       [ 62, 176]], dtype=int64)